#top {
    position: relative;
    margin-bottom:1em;
}

.spaced {
    margin-bottom:1em;
}

/*


#left {
    float:left;
    width: 12em;
    min-height: 20em;
    margin-right: -100%;
}
*/