html {
    /*background:url("../resources/img/html_bg.png") repeat-x #5f5f5f;*/
    font-size:0.8em;
    /*background:#eee;*/
}

.headertext {
    font-size:1.6em;
    vertical-align: middle;
    padding:5px;

}

.bold {
    font-weight: bold;
}

#display .i{
    display: block;
    text-align: center;
    width:3em;
    border:0;
}

#display .np {
    padding:0;
}

img {
    /* internet explorer fuckup fix */
    border:0;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
    white-space: normal !important;
}

.smalltext .ui-widget {
    font-size:0.8em;    
}

.ui-datatable input.ui-column-filter {
    width:90%;
}
