<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                >

    <f:metadata>
        <f:viewParam name="selectedId" value="#{unitateLister.selectedId}" />
    </f:metadata>

    <ui:define name="content">
        <h:panelGrid id="display" columns="1">
            <h:dataTable id="arList" var="ar" value="#{unitateLister.selectedPJ.data}" >
                <h:column>
                    <p:panelGrid styleClass="nopadding" >
                        <f:facet name="header">
                            <p:row>
                                <p:column  rendered="#{ar.category eq 3}"  colspan="24">
                                    <h:outputText value="#{ar.nume}" />
                                </p:column>
                                <p:column  rendered="#{ar.category lt 3}"  colspan="10">
                                    <h:outputText value="#{ar.nume}" />
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column rowspan="2">Clasa:</p:column>
                                <p:column colspan="5">
                                    <h:outputText value="Primar" />
                                </p:column>
                                <p:column colspan="4">
                                    <h:outputText value="Gimnazial" />
                                </p:column>
                                <p:column colspan="4"  rendered="#{ar.category eq 3}" >
                                    <h:outputText value="Liceal - Zi" />
                                </p:column>
                                <p:column colspan="6"  rendered="#{ar.category eq 3}" >
                                    <h:outputText value="Liceal - Seral/FR/FF" />
                                </p:column>
                                <p:column colspan="3"  rendered="#{ar.category eq 3}" >
                                    <h:outputText value="Profesional Zi" />
                                </p:column>
                            </p:row>
                            <p:row>

                                <p:column>CP Zi</p:column>
                                <p:column>I Zi</p:column>
                                <p:column>II Zi</p:column>
                                <p:column>III Zi</p:column>
                                <p:column>IV Zi</p:column>
                                <p:column>V Zi</p:column>
                                <p:column>VI Zi</p:column>
                                <p:column>VII Zi</p:column>
                                <p:column>VIII Zi</p:column>
                                <p:column rendered="#{ar.category eq 3}" >IX Zi</p:column>
                                <p:column rendered="#{ar.category eq 3}" >X Zi</p:column>
                                <p:column rendered="#{ar.category eq 3}" >XI Zi</p:column>
                                <p:column rendered="#{ar.category eq 3}" >XII Zi</p:column>

                                <p:column rendered="#{ar.category eq 3}" >IX S</p:column>
                                <p:column rendered="#{ar.category eq 3}" >X S</p:column>
                                <p:column rendered="#{ar.category eq 3}" >XI S</p:column>
                                <p:column rendered="#{ar.category eq 3}" >XII S</p:column>
                                <p:column rendered="#{ar.category eq 3}" >XIII S</p:column>
                                <p:column rendered="#{ar.category eq 3}" >XIV S</p:column>
                                <p:column rendered="#{ar.category eq 3}" >IX Zi</p:column>
                                <p:column rendered="#{ar.category eq 3}" >X Zi</p:column>
                                <p:column rendered="#{ar.category eq 3}" >XI Zi</p:column>
                            </p:row>
                        </f:facet>
                        <p:row>
                            <p:column styleClass="bold">Nr. Elevi (Înc. Sem.)</p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[57]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[0]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[1]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[2]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[3]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[4]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[5]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[6]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[7]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[8]}" rendered="#{ar.category eq 3}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[9]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[10]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[11]}" rendered="#{ar.category eq 3}"  /></p:column>

                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[13]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[14]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[15]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[16]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[17]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[18]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[60]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[61]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[62]}" rendered="#{ar.category eq 3}"  /></p:column>
                        </p:row>
                        <p:row>
                            <p:column styleClass="bold">Absențe Total</p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[58]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[19]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[20]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[21]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[22]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[23]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[24]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[25]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[26]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[27]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[28]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[29]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[30]}" rendered="#{ar.category eq 3}"  /></p:column>

                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[32]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[33]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[34]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[35]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[36]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[37]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[63]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[64]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[65]}" rendered="#{ar.category eq 3}"  /></p:column>
                        </p:row>
                        <p:row>
                            <p:column styleClass="bold">Absențe Motivate</p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[59]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[38]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[39]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[40]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[41]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[42]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[43]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[44]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[45]}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[46]}" rendered="#{ar.category eq 3}" /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[47]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[48]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[49]}" rendered="#{ar.category eq 3}"  /></p:column>

                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[51]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[52]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[53]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[54]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[55]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[56]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[66]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[67]}" rendered="#{ar.category eq 3}"  /></p:column>
                            <p:column styleClass="np"><h:inputText readonly="#{!unitateLister.canEdit()}" styleClass="i" value="#{ar.data[68]}" rendered="#{ar.category eq 3}"  /></p:column>
                        </p:row>
                    </p:panelGrid>
                    <f:facet name="footer">
                        <h:panelGrid columns="3" style="width:100%; text-align:center;">
                            <p:commandButton id="saveButton" value="Salvare"  rendered="#{unitateLister.canEdit()}" action="#{unitateLister.saveSelectedPJ()}"  icon="ui-icon-check" oncomplete="location.reload();">
                                <p:confirm header="Salvare" message="Doriți să blocați situația?" icon="ui-icon-alert" />
                            </p:commandButton>
                            <p:commandButton id="deblockButton" value="Deblocare" action="#{unitateLister.deblockData()}" rendered="#{unitateLister.canDeblock()}" icon="ui-icon-unlocked" oncomplete="location.reload();" />
                            <p:commandButton id="reloadButton" value="Abandonare" action="#{unitateLister.reloadData()}" rendered="#{unitateLister.canEdit()}" icon="ui-icon-arrowrefresh-1-s" oncomplete="location.reload();" />
                        </h:panelGrid>
                    </f:facet>
                </h:column>
            </h:dataTable>
        </h:panelGrid>
        <p:confirmDialog global="true" closable="false" showEffect="fade" hideEffect="fade">
            <p:commandButton value="Da" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
            <p:commandButton value="Nu" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
        </p:confirmDialog>
    </ui:define>
</ui:composition>
