<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                >

    <ui:define name="content">
        <p:dataTable id="mainTable" var="unitate" value="#{unitateLister.unitateList}" selection="" rowKey="#{unitate.sirues}" filteredValue="#{unitateLister.filteredUnitateList}">
            <p:column headerText="Stare" id="c1"
                      filterBy="#{unitate.stare}"
                      filterOptions="#{utilityBean.statusList}"
                      filterMatchMode="exact"
                      style="text-align:center; width:7em;"
                      >
                <h:graphicImage name="no.png" library="img" alt="Necompletat" rendered="#{unitate.stare==0}" />
                <h:graphicImage name="ok.png" library="img" alt="Completat dar nevalidat" rendered="#{unitate.stare==1}" />
                <h:graphicImage name="ok.png" library="img" alt="Completat și validat" rendered="#{unitate.stare==2}" />
            </p:column>
            <p:column headerText="Denumirea Unității Școlare" filterBy="#{unitate.nume}" filterMatchMode="contains">
                <h:outputText value="#{unitate.nume}" />
            </p:column>
            <p:column headerText="Descărcare Raport" style="text-align: center; width:7em;">
                <h:outputLink value="/icac/getFilledPDF">
                    <f:param name="s" value="#{unitate.sirues}" />
                    <h:graphicImage name="txt.png" alt="Descarcă PDF" library="img" />
                </h:outputLink>
            </p:column>
            <p:column headerText="Completare Raport" style="text-align: center; width:7em;">
                <h:outputLink  id="selectLink" value="editreport.xhtml" >
                    <h:graphicImage name="outbox.png" alt="Completează On-Line" library="img" />
                    <f:param name="selectedId" value="#{unitate.id}" />
                </h:outputLink>
            </p:column>
            <f:facet name="footer">
                Legendă Stare: 
                <h:graphicImage name="ok.png" library="img" alt="Completat și validat" style="vertical-align: middle;" /> Completat și validat |
                <h:graphicImage name="quick_restart.png" library="img" alt="Completat dar nevalidat" style="vertical-align: middle;" /> Completat dar nevalidat |
                <h:graphicImage name="no.png" library="img" alt="Necompletat" style="vertical-align: middle;" /> Necompletat
            </f:facet>
        </p:dataTable>


    </ui:define>
</ui:composition>
