<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                >
    <p:dialog id="aboutDialog" header="Despre Aplicație" position="left,top" widgetVar="aboutDlg" showEffect="fade" modal="true" style="top:10px;">
        <h3>Flux de lucru</h3>
        Pașii pentru folosirea aplicației:
        <ul style="list-style-type: decimal;">
            <li>Unitățile de învățământ completează absențele defalcat pe structuri</li>
            <li>Unitățile de învățământ descarcă Raportul Completat, care-l arhivează</li>
        </ul>

        <h3>Scop</h3>
        Scopul aplicației este de a colecta absențele de la toate unitățile de învățământ din județ cu frecvență lunară.
        <h3>Legal</h3>
        Aplicația este licențiată pentru utilizare de către ISJ Covasna fără cost pe durata cooperarării între autor/ copyright-holder <br /> și instituție,
        sub licența <a href="https://www.gnu.org/licenses/gpl-2.0.html" target="_blank">GNU GPL V2</a>.<br />
        Copyright © 2015 by Balázsi Szilárd
        <h3>Tehnologii</h3>
        Tehnologiile utilizate:
        <ul>
            <li>Tehnologia <a href="http://www.oracle.com/technetwork/java/javaee/tech/index.html" target="_blank">JavaEE 6</a></li>
            <li>Facelet/GUI Framework <a href="http://primefaces.org/" target="_blank">PrimeFaces</a></li>
            <li>Icoane <a href="http://www.everaldo.com/crystal/" target="_blank">Crystal</a></li>
            <li>Report Framework <a href="http://jasperforge.org/projects/jasperreports" target="_blank">JasperReports</a></li>
            <li>Server de aplicație <a href="http://glassfish.java.net/" target="_blank">GlassFish</a></li>
            <li>Server bază de date <a href="https://www.mysql.com/" target="_blank">MySQL</a></li>
            <li>Server OS <a href="http://www.debian.org/" target="_blank">Debian</a></li>
            <li>IDE <a href="http://netbeans.org/" target="_blank">NetBeans</a></li>
        </ul>
    </p:dialog>
</ui:composition>
