<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="default.css" library="css" />
        <h:outputStylesheet name="cssLayout.css" library="css" />
        <title>ISJ Covasna Absenteism Collector</title>
    </h:head>

    <h:body>
        <f:view>
            <ui:include src="loginDialog.xhtml" />
            <ui:include src="aboutDialog.xhtml" />

            <div id="top" class="top ui-widget ui-widget-header ui-corner-all">
                <ui:include src="header.xhtml" />
            </div>

            <p:growl id="growl" showDetail="true" autoUpdate="true"/>

            <div id="contentwrapper">

                <div id="left">
                    <ui:include src="mainMenu.xhtml" />
                </div>


                <h:form id="contentForm" prependId="false">
                    <div id="content" class="content">
                        <ui:insert name="content">Content</ui:insert>
                    </div>
                </h:form>

            </div>
        </f:view>
    </h:body>
</html>
