<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                >
    <p:dialog id="loginDialog" header="Autentificare" widgetVar="loginDlg" position="left,top" modal="true" showEffect="fade" hideEffect="fade">
        <h:form id="loginForm" prependId="false">
            <h:panelGrid columns="2" cellpadding="5">  
                <h:outputLabel for="username" value="Nume:" />  
                <p:inputText value="#{loginBean.username}"   
                             id="username" required="true" label="Nume utilizator" />  

                <h:outputLabel for="password" value="Parolă:" />  
                <p:password feedback="false" value="#{loginBean.password}" id="password" required="true" label="Parola" />
                <f:facet name="footer">
                    <p:commandButton id="loginButton" value="Login" update=":menuForm:mainMenu,:contentForm" actionListener="#{loginBean.doLogin}" oncomplete="PF('loginDlg').hide()" />  
                </f:facet>  
            </h:panelGrid>  
        </h:form>
    </p:dialog>
</ui:composition>
