<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                >
    <h:form id="menuForm">
        <p:menubar id="mainMenu">
            <p:menuitem id="mainList" icon="ui-icon-script" value="Lista unităților" url="index.xhtml" />

            <p:submenu id="userMenu" label="Utilizator">
                <p:menuitem value="Autentificare" icon="ui-icon-key" onclick="PF('loginDlg').show();" rendered="#{userBean.user.id==11}" />
                <p:menuitem value="Ieșire" icon="ui-icon-locked" actionListener="#{loginBean.logout}" update=":menuForm:mainMenu,:contentForm" rendered="#{userBean.user.id!=11}" />
            </p:submenu>
            <p:submenu label="Rapoarte" rendered="#{userBean.user.adminlevel>1}">
                <p:menuitem value="Completare" target="_blank" url="getRaport?r=1" icon="ui-icon-print" rendered="#{userBean.user.adminlevel>1}" ajax="false"/>
                <p:menuitem value="Sintetic Județean" target="_blank" url="getRaport?r=2" icon="ui-icon-print" rendered="#{userBean.user.adminlevel>1}" />
                <p:menuitem value="Analitic PJ" target="_blank" url="getRaport?r=3" icon="ui-icon-print" rendered="#{userBean.user.adminlevel>1}" />
                <p:menuitem value="Analitic AR" target="_blank" url="getRaport?r=4" icon="ui-icon-print" rendered="#{userBean.user.adminlevel>1}" />
            </p:submenu>
            <p:submenu label="Aplicație">
                <p:menuitem value="Despre" icon="ui-icon-help" onclick="PF('aboutDlg').show()" />
            </p:submenu>
        </p:menubar>
    </h:form>
</ui:composition>
